<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='shared.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div id="container" class="mybkg">
        
        <div id="card">
            <div id="card-info">
                <h1>Dashboard</h1>

                <div class="message">
                {% if msg!='error' %}
                    <div class="success" style="word-wrap: break-word;">
                        <p>Want to logout? <span class='span-a'><a href='logout'>Logout</a></span></p>
                        <h2 style="color: purple">Welcome <h3 style="color: purple">{{ msg }}</h3></h2>
                    </div>
                {% endif %}
                {% if msg=='error' %}
                    <div class="failure">
                        <p>Return to login >> <span class='span-a'><a href='/'>Login</a></span></p>
                        <h2 style="color:red;">Error {{ msg }}</h2>
                    </div>
                {% endif %}
                </div>

        </div>
    </div>
</body>
</html>